{{#with model as |mpd|}}
	{{mpd.state}}

	<ul>
		{{#each mpd.rootDirs as |d|}}
			<li>
				{{d.directory}}
				<ul>
					{{#each d.subDirs as |s|}}
						<li>
							{{s.directory}} {{s.subDirs.length}}

							<ul>
								{{#each s.subDirs as |x|}}
									<li>{{x.directory}}</li>
								{{/each}}
							</ul>
						</li>
					{{/each}}
				</ul>
			</li>
		{{/each}}
	</ul>
{{/with}}
{{!-- {{mpd-control}}

{{outlet}}
{{directory-tree}} --}}